<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - CodeFinder</title>
        @{ await Html.RenderPartialAsync("_CommonCssFiles"); }
    </head>
    <body>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2015 - CodeFinder</p>
            </footer>
        </div>
        @{ await Html.RenderPartialAsync("_CommonScripts"); }
        @RenderSection("scripts", required: false)
    </body>
</html>
